.d-flex {
  display: flex;
}

.d-flex-ac {
  display: flex;
  align-items: center;
}
.just-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.just-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.just-base {
  display: flex;
  align-items: center;
  justify-content: baseline;
}

.px-20 {
  padding: 0px 20px;
}
.col-center {
  text-align: center;
}
.pxy-30 {
  padding: 30px;
}
.mxy-30 {
  margin: 30px;
}
.right-align {
  position: relative;
  display: flex;
}
