@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@100;200;300;400;500;600;700&display=swap');

body {
  font-family: 'Syncopate', sans-serif;
}
:root {
  --primary: #ff006b;
  --pure: #ffffff;
  --greyshade: #4f4f4f;
  --light_primary: #ffe2ee;
}
.primary {
  color: var(--primary);
}
.primary {
  color: var(--primary);
}
.pure {
  color: var(--pure);
}
.grey {
  color: var(--greyshade);
}
.brand {
  min-width: 100px;
  max-width: fit-content;
  max-height: fit-content;
  padding: 5px 20px;
  background-color: var(--primary);
  border-radius: 15px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.09);
}
.hr-line {
  margin: 15px 0px;
  height: 2px;
  background-color: var(--greyshade);
  width: 100%;
}

.hr-line-light {
  margin: 15px 0px;
  height: 0.5px;
  background-color: var(--greyshade);
  width: 100%;
}

.vr-line {
  margin: 15px 0px;
  height: inherit;
  background-color: var(--primary);
  width: 2px;
}

#task-container {
  width: 215px;
  height: 255px;
  /* border: 2px solid red; */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transition: 0.2s;
}
.task-card {
  padding: 15px 20px;
}

.task-header {
  width: inherit;
  height: 180px;
}
.task-header > p {
  margin-top: 15px;
}
#task-container:hover {
  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.2);
}

.input-div {
  margin: 20px 10px;
}
.input-label {
  display: inline-block;
  width: 300px;
}
.input-class {
  height: 40px;
  border: var(--primary) 2px solid;
  border-radius: 10px;
  width: 300px;
  outline: none;
  padding: 0px 10px;
  color: var(--greyshade);
}
.checkbox-class {
  width: 2rem;
  height: 2rem;
  margin: 0rem 1rem;
}
.submit-div {
  display: flex;
  justify-content: center;
}
.button_1 {
  min-width: 100px;
  width: fit-content;
  background-color: var(--primary);
  outline: none;
  border: none;
  height: 40px;
  color: var(--pure);
  padding: 0px 20px;
  cursor: pointer;
}
.button_1:hover {
  filter: brightness(90%);
}

.button_2 {
  min-width: 100px;
  width: fit-content;
  background-color: var(--pure);
  outline: none;
  border: 2px solid var(--primary);
  height: 40px;
  color: var(--primary);
  padding: 0px 20px;
  cursor: pointer;
}
.button_2:hover {
  filter: brightness(90%);
}
.cancel_button {
  color: var(--primary);

  cursor: pointer;
}

a {
  text-decoration: none;
}
.cross {
  z-index: 10;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 3rem;
  height: 3rem;

  background-color: var(--primary);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  opacity: 1;
  font-family: 'Syncopate', sans-serif;
  transition: 0.2s;
}

.cross h1 {
  font-family: 'Syncopate', sans-serif;
  margin: 0.5rem 0;
  font-weight: lighter;
  color: var(--pure);
}
.cross:hover {
  filter: brightness(90%);
}
