.san-48-bold {
  font-family: 'Sansation', sans-serif;
  font-weight: bold;
  font-size: 48px;
}

.san-40-bold {
  font-family: 'Sansation', sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.san-36-bold {
  font-family: 'Sansation', sans-serif;
  font-weight: bold;
  font-size: 36px;
}

.san-32-bold {
  font-family: 'Sansation', sans-serif;
  font-weight: bold;
  font-size: 32px;
}

.san-28-bold {
  font-family: 'Sansation', sans-serif;
  font-weight: bold;
  font-size: 28px;
}

.san-24-bold {
  font-family: 'Sansation', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.san-20-bold {
  font-family: 'Sansation', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.san-18-bold {
  font-family: 'Sansation', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.san-16-bold {
  font-family: 'Sansation', sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.san-14-bold {
  font-family: 'Sansation', sans-serif;
  font-weight: bold;
  font-size: 14px;
}

/* ---------------------------------------------------------------------- */

.san-48-regular {
  font-family: 'Sansation', sans-serif;
  font-weight: normal;
  font-size: 48px;
}

.san-40-regular {
  font-family: 'Sansation', sans-serif;
  font-weight: normal;
  font-size: 40px;
}

.san-36-regular {
  font-family: 'Sansation', sans-serif;
  font-weight: normal;
  font-size: 36px;
}

.san-32-regular {
  font-family: 'Sansation', sans-serif;
  font-weight: normal;
  font-size: 32px;
}

.san-28-regular {
  font-family: 'Sansation', sans-serif;
  font-weight: normal;
  font-size: 28px;
}

.san-24-regular {
  font-family: 'Sansation', sans-serif;
  font-weight: normal;
  font-size: 24px;
}

.san-20-regular {
  font-family: 'Sansation', sans-serif;
  font-weight: normal;
  font-size: 20px;
}

.san-18-regular {
  font-family: 'Sansation', sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.san-16-regular {
  font-family: 'Sansation', sans-serif;
  font-weight: normal;
  font-size: 16px;
}

.san-14-regular {
  font-family: 'Sansation', sans-serif;
  font-weight: normal;
  font-size: 14px;
}

/* ---------------------------------------------------------------------- */

.san-48-light {
  font-family: 'Sansation', sans-serif;
  font-weight: 200;
  font-size: 48px;
}

.san-40-light {
  font-family: 'Sansation', sans-serif;
  font-weight: 200;
  font-size: 40px;
}

.san-36-light {
  font-family: 'Sansation', sans-serif;
  font-weight: 200;
  font-size: 36px;
}

.san-32-light {
  font-family: 'Sansation', sans-serif;
  font-weight: 200;
  font-size: 32px;
}

.san-28-light {
  font-family: 'Sansation', sans-serif;
  font-weight: 200;
  font-size: 28px;
}

.san-24-light {
  font-family: 'Sansation', sans-serif;
  font-weight: 200;
  font-size: 24px;
}

.san-18-light {
  font-family: 'Sansation', sans-serif;
  font-weight: 200;
  font-size: 18px;
}

.san-16-light {
  font-family: 'Sansation', sans-serif;
  font-weight: 200;
  font-size: 16px;
}

.san-14-light {
  font-family: 'Sansation', sans-serif;
  font-weight: 200;
  font-size: 14px;
}

.rob-14-normal {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
}
