@import url('./fonts.css');
@import url('./comps.css');
@import url('./classes.css');
@import url('./popups.css');

@import url('./notebook-page.css');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.page {
  animation: page_anim 0.2s linear;
}
@keyframes page_anim {
  0% {
    transform: translateX(50px);
  }
  70% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}
.home-page {
  padding: 30px;
}
.main-nav-bar > .d-flex > .brand {
  margin: auto;
}
.dashboard {
  padding: 0px 30px;
}

Link,
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}
