.back_popup {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  animation: backpopup 0.2s linear;
}
@keyframes backpopup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#option-popup {
  display: none;
  position: absolute;
  top: 3rem;
  right: 8rem;
  /* border: 2px solid red; */
  width: fit-content;
  height: fit-content;
  background-color: var(--pure);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
#option-popup > ul {
  list-style: none;
  padding: 1rem 1.5rem;
}
#option-popup > ul > li {
  display: flex;
  align-items: center;
  color: var(--greyshade);
  padding: 1rem 0rem;
  transition: 0.2s;
  cursor: pointer;
}
#option-popup > ul > li > img {
  margin: 0px 1rem 0rem 0rem;
}
#option-popup > ul > li:hover {
  color: var(--primary);
  filter: brightness(80%);
}
.edit-popup-div {
  position: absolute;
  width: 50rem;
  height: fit-content;
  top: 25%;
  left: 35%;
}
#edit-popup {
  position: relative;
  width: inherit;
  padding: 3rem 0rem 0rem 3rem;
  height: inherit;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  background-color: var(--pure);
}
.popup-input-label {
  display: inline-block;
  width: 40%;
}
.popup-input-class {
  border: 2px solid var(--primary);
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}
